.vscode
/ex00/main.c
/ex00/a.out
/ex01/main.c
/ex01/a.out
/ex02/main.c
/ex02/a.out
/ex03/main.c
/ex03/a.out
/ex04/main.c
/ex04/a.out
/ex05/main.c
/ex05/a.out
/ex06/main.c
/ex06/a.out
/ex07/main.c
/ex07/a.out
/ex08/main.c
/ex08/a.out
